In [16]:
import lasio
import os
import pandas as pd

In [96]:
las_file = lasio.read(os.path.join('/ldata/vaisbyre/Wells_new', 'A2DSub_42173314860000_25388206_StandardLAS_V1.Las'))
csv_file = pd.read_csv(os.path.join('/homedirs/ansuchan/Desktop/LogNet_Repo/Train_CSV_Output/', 'A2DSub_42173314860000_25388206_StandardLAS_V1.csv'))

In [97]:
csv_file.head(5)

    Depth   Latitude   Longitude  GRCurve  SRESCurve  NeutCurve  SonicCurve
0  3458.0  31.992598 -101.678304  13.5639   1.149876  -3.246761      0.0196
1  3458.5  31.992598 -101.678304  13.5183   2.018430  -2.966173      0.0219
2  3459.0  31.992598 -101.678304  13.8117   2.864256  -3.020025      0.0240
3  3459.5  31.992598 -101.678304  14.5165   3.390069  -3.103317      0.0259
4  3460.0  31.992598 -101.678304  15.4186   3.747806  -3.165335      0.0257

In [27]:
os.chdir('/homedirs/ansuchan/Desktop/LogNet_Repo/lognet')
from utilities.FileInput import FileInput

In [98]:
feature_curves = ['GRCurve', 'SRESCurve', 'NeutCurve','DEN']
target_curves = ['SonicCurve']
las_file_path = '/ldata/vaisbyre/Wells_new/'
metadata_csv = '/homedirs/ansuchan/Desktop/LogNet_Repo/QuadComboDensityPermianWells.csv'
file_input = FileInput(las_file_path, metadata_csv)
file_input.generateFileList(feature_curves,target_curves)

  0%|          | 68/16487 [00:00<00:24, 679.68it/s]

generating LAS file list
UWI set length: 16535

100%|██████████| 16487/16487 [00:20<00:00, 811.22it/s]

Number of files: 16487

In [99]:
file_input.generateFileList(feature_curves,target_curves)

  0%|          | 72/16487 [00:00<00:22, 715.23it/s]

generating LAS file list
UWI set length: 16535

100%|██████████| 16487/16487 [00:19<00:00, 830.42it/s]

Number of files: 16487

In [100]:
file_info = file_input.getFileInfo('A2DSub_42173314860000_25388206_StandardLAS_V1.Las')

In [101]:
file_info

{'WGS84Latitude': 31.992598116243602,
 'WGS84Longitude': -101.67830390543199,
 'GRCurve': 'GRD',
 'SRESCurve': 'SGUARD',
 'NeutCurve': 'NPOR_LS',
 'DEN': 'RHOB',
 'SonicCurve': 'SPHI'}

In [102]:
file_input.selected_df.head()

,WGS84Latitude,WGS84Longitude,GRCurve,SRESCurve,NeutCurve,DEN,SonicCurve
A2DSub_42227345390000_25655534_StandardLAS_V1.Las,32.097436,-101.430199,GRD,GURD,NPOR,RHOB,DT
A2DSub_42461331110000_25404121_StandardLAS_V1.Las,31.370261,-102.303919,GRD,RMSF,CNS,RHOB,DT
A2DSub_30025346680000_25843836_StandardLAS_V1.Las,32.814083,-103.563199,GRD,HLLS,TNPH,RHOZ,DT
A2DSub_30025346750000_25503261_StandardLAS_V1.Las,32.665621,-103.305685,GRD,HLLS,TNPH,RHOZ,DT
A2DSub_30025293960000_25837594_StandardLAS_V1.Las,32.542324,-103.297177,GRD,MSFL,NPHI_LS,RHOB,DT

In [103]:
from preprocess.DataPrep import DataPrep
import yaml
model_type = 'XGB'
prep_data = DataPrep(model_type)

In [111]:
feature_mnem = [file_info[key] for key in feature_curves]
target_mnem = [file_info[key] for key in target_curves]
mnemonics = feature_mnem + target_mnem + ['DEPT']

all(column_name in las_file.curvesdict.keys() for column_name in mnemonics)
features_df = las_file.df()
features_df.reset_index(level=0, inplace=True)

In [112]:
features_df.head(5)

,DEPT,GRS,CALS,DT,SPHI,TENS,GRR,TENR,SPR,ILD,ILM,SGUARD,GRD,NPOR_LS,DPOR_LS,CALD,TEND,CORR,RHOB
0,50.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.9119,-0.0162,NaN,NaN,NaN,NaN,NaN
1,50.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.2808,-0.0152,NaN,NaN,NaN,NaN,NaN
2,51.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.2864,-0.0145,NaN,NaN,NaN,NaN,NaN
3,51.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.8629,-0.0143,NaN,NaN,NaN,NaN,NaN
4,52.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.8971,-0.0142,NaN,NaN,NaN,NaN,NaN

In [106]:
features_df = prep_data.generateFeatures(
            las_file, file_info, feature_curves, target_curves, True)

Generating features for XGB

/homedirs/ansuchan/Desktop/LogNet_Repo/lognet/preprocess/DataPrep.py:34: RuntimeWarning: invalid value encountered in log
  data_df[feature] = np.log(data_df[feature])

In [113]:
for column_name in features_df.columns:
            if column_name not in mnemonics:
                features_df.drop(column_name, axis=1, inplace=True)

In [114]:
features_df.dropna(axis=0, how='any', inplace=True)

In [115]:
features_df.head(5)

        DEPT    SPHI   SGUARD      GRD  NPOR_LS    RHOB
6816  3458.0  0.0196   3.1578  13.5639   0.0389  2.1904
6817  3458.5  0.0219   7.5265  13.5183   0.0515  2.5171
6818  3459.0  0.0240  17.5360  13.8117   0.0488  2.8124
6819  3459.5  0.0259  29.6680  14.5165   0.0449  2.8091
6820  3460.0  0.0257  42.4279  15.4186   0.0422  2.7920

In [116]:
inv_map = {v: k for k, v in file_info.items()}
features_df.rename(inv_map, axis='columns', inplace=True)
features_df.head(5)

        DEPT  SonicCurve  SRESCurve  GRCurve  NeutCurve     DEN
6816  3458.0      0.0196     3.1578  13.5639     0.0389  2.1904
6817  3458.5      0.0219     7.5265  13.5183     0.0515  2.5171
6818  3459.0      0.0240    17.5360  13.8117     0.0488  2.8124
6819  3459.5      0.0259    29.6680  14.5165     0.0449  2.8091
6820  3460.0      0.0257    42.4279  15.4186     0.0422  2.7920

In [117]:
import numpy as np
features_df['SRESCurve'] = np.log(features_df['SRESCurve'])
features_df['NeutCurve'] = np.log(features_df['NeutCurve'])


features_df['DEN'] = features_df['DEN']**3

features_df = features_df.replace([np.inf, -np.inf], np.nan)
features_df.dropna(axis=0, how='any', inplace=True)

/homedirs/ansuchan/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: RuntimeWarning: invalid value encountered in log
  This is separate from the ipykernel package so we can avoid doing imports until

In [123]:
keep_location = False

In [126]:
feature_list = feature_curves
if model_type == 'TorchNN':
    # Smoothing
    self._smooth(features_df, feature_curves, smoothing_window)

    # Shifting and renaming columns
    feature_list = self._shift(features_df, features, n)

location_columns = []
if keep_location:
    location_columns.extend(['Depth', 'Latitude', 'Longitude'])

    features_df['Depth'] = features_df['DEPT']
    features_df['Latitude'] = file_info['WGS84Latitude']
    features_df['Longitude'] = file_info['WGS84Longitude']

reordered_columns = location_columns + feature_list + target_curves

# Drop mnemonic named columns
for column in features_df.columns:
    if column not in reordered_columns:
        features_df.drop(column, axis=1, inplace=True)

features_df = features_df[reordered_columns]

In [128]:

assert(features_df.isnull().any().any() == False)
assert(features_df.isna().any().any() == False)

In [130]:
features_df.columns.values.tolist()

['GRCurve', 'SRESCurve', 'NeutCurve', 'DEN', 'SonicCurve']

In [ ]:

assert isinstance(features_df.columns.values.tolist(), list) == True, 'header_list is not a list'
print("Writing header file: headers.txt")
with open(os.path.join(self.output_path, 'headers.txt'), 'w') as header_file:
    csv_writer = csv.writer(header_file, dialect='excel')
    csv_writer.writerow(features_df.columns.values.tolist())
self.header_written = True

In [129]:


assert isinstance(features_df, pd.core.frame.DataFrame)==True,"file_data is not a dataframe"
if not self.header_written:
    writeHeader(features_df.columns.values.tolist())
csv_filename = os.path.join(self.output_path, file_name)
print(f"Writing CSV file: {csv_filename}")
print(file_data.head(5))
#file_data.to_csv(csv_filename, index=False)

NameError: name 'self' is not defined

In [57]:
features_df2 = prep_data.generateFeatures(
            las_file2, file_info2, feature_curves, target_curves, True)

Generating features for XGB

In [59]:
features_df2.head()

Empty DataFrame
Columns: [Depth, Latitude, Longitude, GRCurve, SRESCurve, NeutCurve, DEN, SonicCurve]
Index: []

In [60]:
len(features_df2)

0

In [71]:
ad_csv = pd.read_csv('/homedirs/ansuchan/Desktop/LogNet_Repo/Train_CSV_Output/A2DSub_42173314860000_25388206_StandardLAS_V1.csv')

In [72]:
ad_csv.head(5)

    Depth   Latitude   Longitude  GRCurve  SRESCurve  NeutCurve  SonicCurve
0  3458.0  31.992598 -101.678304  13.5639   1.149876  -3.246761      0.0196
1  3458.5  31.992598 -101.678304  13.5183   2.018430  -2.966173      0.0219
2  3459.0  31.992598 -101.678304  13.8117   2.864256  -3.020025      0.0240
3  3459.5  31.992598 -101.678304  14.5165   3.390069  -3.103317      0.0259
4  3460.0  31.992598 -101.678304  15.4186   3.747806  -3.165335      0.0257